main {
  text-align: center;
  vertical-align: center;
}
header> h1{
  padding: 8px;
}
header{
  margin: 20px; 
  background-color: gray;
  width: 100px;
  height: 50px;
  border-radius:50% ; 
}

.main-container{
  background-color: rgba(245,245,245, 0.5);
  display: flex;
  flex-direction: column;
  width:80%;
  padding: 5%;
  margin: 0 5%;
}
.filter-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filters-input{
  display: flex;
  align-items: center;

}
.container{
  display:grid;
  grid-template-columns:30% 30% 30%;
  row-gap:100px;
  column-gap: 50px;
  margin-top:50px; 
}
.rect{
  background-color:red;
  min-height:80px;
}
.rect>p{
  position: absolute;
  text-align: center;
  margin: 30px 100px;
}
.circle-container{
  display:grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  row-gap: 40px;
}
.top-circle{
  position:relative;
  height:20px;
  width:50px;
  background-color:gray;
  border-radius:50% 50% 0 0;
  top:-20px;
}
.bottom-circle{
  position:relative;
  height:20px;
  width:50px;
  background-color:gray;
  border-radius:0 0 50% 50%;
  bottom:-20px;
}


.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  right:-150px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#top {
  top: -40px;
  left: -50%;
}

#bottom {
  top: 25px;
  left: -50%;
}

#left {
  top: -8px;
  right: 120%;
}

#right {
  top: -8px;
  left: 120%;
}

.hover-text {
  position: relative;
  display: inline-block;
  font-family: Arial;
  text-align: center;
}

#search{
  display: none;
}