main {
  text-align: center;
  vertical-align: center;
}
.container-card{
  width:60%;
  min-height: 200px;
  margin: 0 auto;
}
.container{
  display:grid;
  grid-template-columns:33% 33% 33%;
  z-index:1;
  row-gap:50px;
  column-gap: 50px;
  margin-top:100px;  
}
.rect{
  background-color:red;
  min-height:50px; 
}
.circle-container{
  display:grid;
  grid-template-columns: 50% 50%;
  place-items: center;
  row-gap: 10px;
}
.top-circle{
  position:relative;
  height:20px;
  width:50px;
  background-color:gray;
  border-radius:50% 50% 0 0;
  top:-20px;
}
.bottom-circle{
  position:relative;
  height:20px;
  width:50px;
  background-color:gray;
  border-radius:0 0 50% 50%;
  bottom:-20px;
}


.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 100px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  right:-150px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#top {
  top: -40px;
  left: -50%;
}

#bottom {
  top: 25px;
  left: -50%;
}

#left {
  top: -8px;
  right: 120%;
}

#right {
  top: -8px;
  left: 120%;
}

.hover-text {
  position: relative;
  display: inline-block;
  font-family: Arial;
  text-align: center;
}

#search{
  display: none;
}